<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div th:fragment="nav(backUrl, canEdit)">
  <a href="./index.html" th:href="${backUrl}">
    <span class="glyphicon glyphicon-menu-left"/>
    <span th:text="#{logs.btn.back}">Back</span>
  </a>
  <a href="./edit.html" th:href="@{/logs/{id}/edit(id=*{id})}" class="btn btn-primary" th:if="${canEdit}">
    <span class="glyphicon glyphicon-pencil"/>
    <span th:text="#{logs.btn.edit}">Edit</span>
  </a>
</div>

<form th:fragment="form(action)" th:action="${action}" method="post">
  <div class="form-group" th:classappend="${#fields.hasErrors('no')}?'has-error has-feedback'">
    <label th:for="no" class="control-label" th:text="#{logs.form.no}">Dive No.</label>
    <input type="number" th:field="*{no}" class="form-control" th:placeholder="#{logs.form.no}" value="1"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" th:if="${#fields.hasErrors('no')}"/>
    <div class="help-block" th:if="${#fields.hasErrors('no')}" th:errors="*{no}"/>
  </div>
  <div class="form-group" th:classappend="${#fields.hasErrors('date')}?'has-error has-feedback'">
    <label th:for="date" class="control-label" th:text="#{logs.form.date}">Date</label>
    <input type="date" th:field="*{date}" class="form-control" th:placeholder="#{logs.form.date}" value="2015-12-28"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" th:if="${#fields.hasErrors('date')}"/>
    <div class="help-block" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
  </div>
  <div class="form-group">
    <label th:for="location" th:text="#{logs.form.location}">Location</label>
    <input type="text" th:field="*{location}" class="form-control" th:placeholder="#{logs.form.location}" value="Izu"/>
    <span class="glyphicon glyphicon-remove form-control-feedback" th:if="${#fields.hasErrors('location')}"/>
    <div class="help-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"/>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok"/>
    <span th:text="#{logs.btn.submit}">Submit</span>
  </button>
</form>
</body>
</html>