<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
  <title>Logs</title>
</head>
<body>
  <th:block layout:fragment="content">
    <div class="row">
      <div class="col-md-12">
        <a href="new.html" th:href="@{/logs/new}" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"/>
          <span class="th:text=#{logs.btn.new}">New Log</span>
        </a>
      </div>
    </div>
    <div th:if="${logs.isEmpty()}">There are no logs.</div>
    <table class="table">
      <thead>
        <th th:text="#{logs.list.no}">Dive No.</th>
        <th th:text="#{logs.list.date}">Date</th>
        <th th:text="#{logs.list.location}">Location</th>
      </thead>
      <tbody>
      <tr th:each="log : ${logs}">
        <td><a href="show.html" th:href="@{/logs/{id}(id=${log.id})}" th:text="${log.no}">1</a></td>
        <td th:text="${log.date}">2015-12-26</td>
        <td th:text="${log.location}">Izu</td>
      </tr>
      </tbody>
    </table>
  </th:block>
</body>
</html>
